<!DOCTYPE html>
<html>
<head>
  <title>EntradedDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- Chiama il file partial _header individuandone il relative path -->
	<%= render "layouts/header" %>
	<div class="container">
		<%= yield %>
	</div>

	<%= render "layouts/footer" %>

</body>
</html>
